<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="M9811_1.Properties.Labels" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="M9811_1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <M9811_1.Properties.Labels>
            <setting name="Label1" serializeAs="String">
                <value>OUT 1</value>
            </setting>
            <setting name="Label2" serializeAs="String">
                <value>OUT 2</value>
            </setting>
            <setting name="Label3" serializeAs="String">
                <value>OUT 3</value>
            </setting>
            <setting name="Label4" serializeAs="String">
                <value>OUT 4</value>
            </setting>
            <setting name="Label5" serializeAs="String">
                <value>OUT 5</value>
            </setting>
            <setting name="Label6" serializeAs="String">
                <value>OUT 6</value>
            </setting>
            <setting name="Label7" serializeAs="String">
                <value>OUT 7</value>
            </setting>
            <setting name="Label8" serializeAs="String">
                <value>OUT 8</value>
            </setting>
        </M9811_1.Properties.Labels>
        <M9811_1.Properties.Settings>
            <setting name="FW_Info" serializeAs="String">
                <value/>
            </setting>
        </M9811_1.Properties.Settings>
    </userSettings>
</configuration>
